<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<div class="address employee">

			<f:if condition="{employee.image.0}">
				<div class="employee--image">
					<f:render partial="Components/Media" section="Picture" arguments="{
						file: employee.image.0,
						image: {width: settings.image.default.width, height: settings.image.default.height, cropVariant: settings.image.default.cropVariant},
						sizes: settings.image.default.mediaQueries
					}" />
				</div>
			</f:if>

			<f:if condition="{employee.firstName} || {employee.lastName}">
				<div class="employee--name">
					<f:render partial="Components/Person" section="Name" arguments="{person: employee}" />
				</div>
			</f:if>

			<f:if condition="{employee.position}">
				<div class="employee--position">{employee.position}</div>
			</f:if>

			<f:if condition="{settings.structuredData}">
				<xo:jsonLd.person address="{employee}" />
			</f:if>
		</div>
	</f:section>
</div>