// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../../../xna/Resources/Public/Sass/functions';
@import '../../../../xna/Resources/Public/Sass/variables';
@import '../../../../xna/Resources/Public/Sass/mixins';
@import '../../../../xna/Resources/Public/Sass/definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Variablen
$tx-employee--use-css: true !default;
$tx-employee---layout-default: true !default;

@if($tx-employee--use-css) {

	// -------------------------------------------------------------------------------------------------------------------
	// Component
	.employee {
		background: gold;
	}

	// -------------------------------------------------------------------------------------------------------------------
	// Default-Darstellung
	@if($tx-employee---layout-default) {
	}

	// -------------------------------------------------------------------------------------------------------------------
	// >= 576px
	@include media-breakpoint-up(sm) {
	}

	// -------------------------------------------------------------------------------------------------------------------
	// >= 768px
	@include media-breakpoint-up(md) {
	}

	// -------------------------------------------------------------------------------------------------------------------
	// >= 992px
	@include media-breakpoint-up(lg) {
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// XNA Override
@import '../../../../xna/Resources/Public/Sass/xna/modules/employee';