// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../../../xna/Resources/Public/Sass/functions';
@import '../../../../xna/Resources/Public/Sass/variables';
@import '../../../../xna/Resources/Public/Sass/mixins';
@import '../../../../xna/Resources/Public/Sass/definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Variablen
$tx-employee--use-css: true !default;
$tx-employee---layout-default: true !default;

@if($tx-employee--use-css) {

	// -------------------------------------------------------------------------------------------------------------------
	// Component
	.employee {
		.employee--name {
			margin: rem(8px 0 0 0);
			font-weight: $font-weight-bold;
		}

		.employee--image {
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}

	// -------------------------------------------------------------------------------------------------------------------
	// Default-Darstellung
	@if($tx-employee---layout-default) {
		.employee--container {
			& {
				@include make-row();
				margin-top: rem(-20px); // Ausgleich um auf etwa 20px nach oben zu kommen
				padding: 0;
				list-style: none;
			}

			& > li {
				margin-top: rem(40px);
				@include make-col-ready();
			}
		}
	}

	// -------------------------------------------------------------------------------------------------------------------
	// >= 576px
	@include media-breakpoint-up(sm) {
		@if($tx-employee---layout-default) {
			.employee--container {
				& > li {
					@include make-col(6);
				}
			}
		}
	}

	// -------------------------------------------------------------------------------------------------------------------
	// >= 768px
	@include media-breakpoint-up(md) {
		@if($tx-employee---layout-default) {
			.employee--container {
				& > li {
					@include make-col(4);
				}
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// XNA Override
@import '../../../../xna/Resources/Public/Sass/xna/modules/employee';